.about{
    background-image: url(../../asserts/snow_mountain.jpg);
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    height: 100vh;

    h1,h2,h3,h4,h5 {
        margin: 0;
    }
}
