
ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 15px 5px 15px;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  
  .left{
    float: right;
    
  }
  .right{
    float:left;
    
  }
  
  .logo{
    color: rgb(231, 191, 12);
    font-size: 20px;
    font-style: italic;
    padding: 7px 30px ;
  }

  .nav-list {
    display: block;
    padding: 7px 16px ;
    color:white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
  }
 

  .nav-list:hover{
    // background-color: cadetblue;
    // border-bottom: 3px solid #29b6f6;
    // transition: border-bottom .5s ease-in-out;
    transform: translateY(-2px)
  }

  .nav-list-active {
    border-bottom: 3px solid #29b6f6;
    // transition: border-bottom .5s ease-in-out;
  }
  
  

  
    
 
  }